@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply bg-not-black-800 text-white;
  }
  p {
    @apply text-sm;
  }
  h1 {
    @apply font-[630] text-5xl tracking-tight mt-5 mb-4;
  }
  h2 {
    @apply font-light text-[1.375rem] tracking-tight mt-4 mb-3;
  }
  h3 {
    @apply font-semibold text-[1.0625rem] tracking-[-0.01] mt-3 mb-2;
  }
  h4 {
    @apply font-medium text-sm tracking-[-0.01] mt-3 mb-2 text-not-black-300;
  }
  .chip {
    @apply bg-mf-neutral-800 hover:bg-mf-neutral-700 ease-in-out duration-200 text-card-800 px-2.5 py-[0.135rem] text-base;
  }
  * {
    @apply focus-visible:ring-1 focus:outline-none ring-titan;
  }
  .chip.clickable {
    @apply focus:ring-1 focus:outline-none ring-titan;
  }
  .lgCard a {
    @apply focus:ring-4 ring-offset-1 focus:outline-none ring-titan;
  }
  .smlBtn {
    @apply px-2.5 py-1 border-not-black-600 border-[0.1rem] inline-block text-sm;
  }
  .smlBtn.active {
    @apply border-titan text-titan;
  }
  .smlCtaBtn {
    @apply bg-titan text-white px-2 py-1 rounded-lg font-medium;
  }
}

@layer utilities {
  body,
  html {
    box-sizing: border-box;
  }
  body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
  }

  body::-webkit-scrollbar {
    width: 1rem; /* width of the entire scrollbar */
  }
  body::-webkit-scrollbar-track {
    background: transparent; /* color of the tracking area */
  }
  body::-webkit-scrollbar-thumb {
    background-color: #282828; /* color of the scroll thumb */
    border-radius: 999px; /* roundness of the scroll thumb */
    border: 0.4rem solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
  }
  *::-webkit-scrollbar {
    width: 1rem; /* width of the entire scrollbar */
  }
  *::-webkit-scrollbar-track {
    background: transparent; /* color of the tracking area */
  }
  *::-webkit-scrollbar-thumb {
    background-color: #282828; /* color of the scroll thumb */
    border-radius: 999px; /* roundness of the scroll thumb */
    border: 0.4rem solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
  }
  *,
  ::before,
  ::after {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: 0;
  }
}
